* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	font-family: "Lexend Deca", sans-serif;
	background: linear-gradient(0deg, rgba(238, 238, 238, 1), rgba(238, 238, 238, 1));
}
i {
	cursor: pointer;
}
.nav {
	width: 100%;
	padding: 60px;
	font-size: 30px;
	cursor: pointer;
	background-color: rgb(213, 204, 192);
}
.home {
	margin-left: 50px;
	font-size: 80px;
	color: rgb(212, 168, 109);
}
.pro,
.slash {
	font-size: 80px;
}

.home:hover,
.pro:hover {
	color: rgb(119, 85, 22);
}

.container {
	margin-top: 40px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	gap: 60px;
}

.category {
	width: 30vh;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.category p {
	cursor: pointer;
}
.category p:hover {
	color: rgb(152, 107, 22);

	border-bottom: 2px solid rgb(128, 105, 0);
}
input::placeholder {
	font-size: 16px;
	padding-left: 20px;
}
input {
	height: 40px;
	padding-left: 20px;
	font-size: 16px;
	outline: none;
}
h3 {
	font-size: 30px;
}
select {
	height: 30px;
	padding-left: 20px;
	font-size: 16px;
}

.color-input {
	display: flex;
	align-items: center;
	width: 100px;
}

.icons img {
	width: 50px;
}
.icons img:hover {
	cursor: pointer;
}
.products {
	width: 100%;
	padding: 0 1rem;
}
.sort-product {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	padding: 0 1rem;
}
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons {
	display: flex;
}

.products-img img {
	width: 300px;
	height: 200px;
	border-radius: 10px;
	background-color: rgb(0, 94, 255);
}

.products-img {
	overflow: scroll;
	height: 900px;
	margin-top: 50px;
	padding-right: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 50px;
}
.products-img::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.line {
	width: 400px;
	height: 1px;
	background-color: black;
}

.name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
}
.box {
	width: 300px;
	height: 200px;
	transition: all 0.1s ease-in-out;
}

.box img {
	cursor: pointer;
}

.project {
	display: none;
}
/* The loader container */

.loader_animate {
	display: block;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	margin-top: -100px;
	margin-left: -100px;
	perspective: 1000px;
	transform-style: preserv3d;
}

.loader--reflect {
	margin-top: 0;
}

.loader--reflect:after {
	content: "";
	position: absolute;
	top: 0;
	left: -25%;
	width: 150%;
	height: 110%;
	background: linear-gradient(
		0deg,
		rgba(238, 238, 238, 1),
		rgba(238, 238, 238, 1) 20%,
		rgba(238, 238, 238, 0.3)
	);
}

/* The bar */
.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 100px;
	background-color: #1e3f57;
	transform: scaleY(0);
	transform-style: preserve3d;
	animation: bar 3s cubic-bezier(0.81, 0.04, 0.4, 0.7) infinite;
}

.bar:nth-child(2) {
	left: 20px;
	background-color: #264a63;
	animation-delay: 50ms;
}

.bar:nth-child(3) {
	left: 40px;
	background-color: #2d566f;
	animation-delay: 100ms;
}

.bar:nth-child(4) {
	left: 60px;
	background-color: #35617a;
	animation-delay: 150ms;
}

.bar:nth-child(5) {
	left: 80px;
	background-color: #3d6d86;
	animation-delay: 200ms;
}

.bar:nth-child(6) {
	left: 100px;
	background-color: #447892;
	animation-delay: 250ms;
}

.bar:nth-child(7) {
	left: 120px;
	background-color: #4c849e;
	animation-delay: 300ms;
}

.bar:nth-child(8) {
	left: 140px;
	background-color: #548fa9;
	animation-delay: 350ms;
}

.bar:nth-child(9) {
	left: 160px;
	background-color: #5c9bb5;
	animation-delay: 400ms;
}

.bar:nth-child(10) {
	left: 180px;
	background-color: #63a6c1;
	animation-delay: 450ms;
}

.loader--reflect .bar {
	animation-name: bar-reflect;
}

@keyframes bar {
	0% {
		transform: rotateZ(-180deg) rotateX(-360deg);
	}

	75%,
	100% {
		transform: rotateZ(0) rotateX(0);
	}
}

@keyframes bar-reflect {
	0% {
		transform: rotateZ(180deg) rotateX(360deg);
	}

	75%,
	100% {
		transform: rotateZ(0) rotateX(0);
	}
}

/* ERROR  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
.error-container {
	text-align: center;
	font-size: 250px;
	font-family: "Catamaran", sans-serif;
	font-weight: 900;
	margin: 20px 15px;
}
.error-container > span {
	display: inline-block;
	line-height: 0.7;
	position: relative;
	color: #ffb485;
}
.error-container > span > span {
	display: inline-block;
	position: relative;
}
.error-container > span:nth-of-type(1) {
	perspective: 1000px;
	perspective-origin: 500% 50%;
	color: #f0e395;
}
.error-container > span:nth-of-type(1) > span {
	transform-origin: 50% 100% 0px;
	transform: rotateX(0);
	animation: easyoutelastic 8s infinite;
}

.error-container > span:nth-of-type(3) {
	perspective: none;
	perspective-origin: 50% 50%;
	color: #d15c95;
}
.error-container > span:nth-of-type(3) > span {
	transform-origin: 100% 100% 0px;
	transform: rotate(0deg);
	animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
	0% {
		transform: rotateX(0);
	}
	9% {
		transform: rotateX(210deg);
	}
	13% {
		transform: rotateX(150deg);
	}
	16% {
		transform: rotateX(200deg);
	}
	18% {
		transform: rotateX(170deg);
	}
	20% {
		transform: rotateX(180deg);
	}
	60% {
		transform: rotateX(180deg);
	}
	80% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(0);
	}
}

@keyframes rotatedrop {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(30deg);
	}
	15% {
		transform: rotate(90deg);
	}
	70% {
		transform: rotate(90deg);
	}
	80% {
		transform: rotate(0);
	}
	100% {
		transform: rotateX(0);
	}
}

h1 {
	text-align: center;
	margin: 30px 15px;
	font-size: 60px;
	font-weight: bold;
}
.zoom-area {
	max-width: 550px;
	margin: 30px auto 30px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
}
.link-container {
	text-align: center;
}
.error_animate {
	margin-top: 100px;
	font-size: 30px;
}
